.ortelligance-grid-header-top{
    margin-top: -1.2rem;
}
.ortelligance-header-icon-padding{
    padding:0.3rem;
    color: #5f9ea0;
}
.ortelligance-table-margin{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.ortelligance-icon-rounded{
    border-radius: 50% !important;
    background-color: white;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding-left: .05rem;
    padding-top: 0.1rem;
}
.ortelligance-gridHeader{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0);
    background-color: #5f9ea0;
    color: white;
    border-radius: 15px;
    padding-top: .2rem;
    padding-bottom: 0rem;
    padding-left: 1.2rem;
    padding-right: .2rem;
}
.ortelligance-grid-container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    margin-bottom: 0rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color:#f0f8fb;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color:white;
}
.table td {
    border-top: 0px solid #dee2e6; 
    color: #484848!important;
    font-weight: normal !important;
    font-size: 12pt !important;
}
.table td a{
    color: #004d79!important;
    font-weight: bold !important;
    font-size: 12pt !important;
    text-decoration: inherit;
}
.table td a:hover{
    text-decoration: underline !important;
}
.table th,.table td{
    border-collapse: separate !important;
}
.ortelligance-table-header{
    color: #000000!important;
    font-weight: normal !important;
    font-size: 12pt !important;
}
.ortelligance-icon-label{
    color: #ffffff !important;
    padding-left: .2rem !important;
}
div label{
    color: #484848;
    font-weight: normal;
    font-size: 14pt;
}
.border {
    border: 1px solid #dee2e66e !important;
  }
  .border-right {
    border-right: 1px solid #dee2e66e !important;
  }
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {
        table tr,table td{
            border-bottom-width: 0px;
        }
        .ortelligance-grid-container{
            background-color: e6f8ff4d !important;
            border-radius: 15px;
            box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
        }
		/* Force table to not be like tables anymore */
        table, thead, tbody, th, tr,  td {
			display: block;
        }

        td.ghide {
			display: table-cell !important;
        }

        

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr,.ortelligance-table-header {
			position: absolute;
			top: -9999px;
			left: -9999px;
        }
        
        tr {
            margin: 0 0 0.4rem 0;
            border-radius: 15px;
            box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
        }
        
        tr:nth-child(odd) {
            background: #ccc;
        }
        tr:nth-child(even) {
            background: #f0f8fb;
        }
    
		td {
			position: relative;
			padding-left: 50%;
		}

		td:before {
			position: absolute;
			left: 6px;
			white-space: nowrap;
        }
        .border {
            border: 0px solid #dee2e66e !important;
        }
        .border-right {
            border-right: 0px solid #dee2e66e !important;
        }
    }
    .page-item .active {
        background-color: #5f9ea0;
        border-color: #5f9ea0;
    }
    

    select option:active, select option:hover {
        outline-color: red;
        background-color: #5f9ea0;
      }
