@media only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px)  {
    td:nth-of-type(1):before { content: "Case #";font-weight: bold;color:#39a3df;}
    td:nth-of-type(2):before { content: "Procedure";font-weight: bold;color:#39a3df;}
    td:nth-of-type(3):before { content: "Surgery Date/Time11";font-weight: bold;color:#39a3df;}
    td:nth-of-type(4):before { content: "Surgeon Name";font-weight: bold;color:#39a3df;}  
   
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #9300ffcc;
   color: white;
   text-align: center;  
}
.row_paddign{
   padding-left: 0px;
   padding-right: 0px;
}

.contact-padding {
	padding-left: 15px; 
	padding-right: 15px;	
}
.cantact-inner-div{
	 border-radius: 3px;
	 background-color: red;	 
}
.div-rotate{
	background-color: #ff8c00;
	border-radius: 9px;	
	font-size: 23px;
}
